body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1094px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:30px;
  width:289px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:72px;
  width:154px;
  height:26px;
}
#u363_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:71px;
  width:82px;
  height:28px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:75px;
  width:85px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:75px;
  width:85px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:75px;
  width:154px;
  height:26px;
}
#u370_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:77px;
  width:85px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:74px;
  width:85px;
  height:22px;
}
#u373_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u373_input:disabled {
  color:grayText;
}
#u374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:115px;
  width:85px;
  height:1px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:114px;
  width:97px;
  height:22px;
}
#u376_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u376_input:disabled {
  color:grayText;
}
#u377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:114px;
  width:85px;
  height:1px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:115px;
  width:97px;
  height:22px;
}
#u379_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u379_input:disabled {
  color:grayText;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:169px;
  width:872px;
  height:125px;
}
#u381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:0px;
  width:69px;
  height:30px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:0px;
  width:119px;
  height:30px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:0px;
  width:130px;
  height:30px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:0px;
  width:105px;
  height:30px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:0px;
  width:118px;
  height:30px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:0px;
  width:111px;
  height:30px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:0px;
  width:107px;
  height:30px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:108px;
  height:30px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:30px;
  width:69px;
  height:30px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:30px;
  width:119px;
  height:30px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:30px;
  width:130px;
  height:30px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:30px;
  width:105px;
  height:30px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:30px;
  width:118px;
  height:30px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:30px;
  width:111px;
  height:30px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:30px;
  width:107px;
  height:30px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:108px;
  height:30px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:60px;
  width:69px;
  height:30px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:60px;
  width:119px;
  height:30px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:60px;
  width:130px;
  height:30px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:60px;
  width:105px;
  height:30px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:60px;
  width:118px;
  height:30px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:60px;
  width:111px;
  height:30px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:60px;
  width:107px;
  height:30px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:108px;
  height:30px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:90px;
  width:69px;
  height:30px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:90px;
  width:119px;
  height:30px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:90px;
  width:130px;
  height:30px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:90px;
  width:105px;
  height:30px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:90px;
  width:118px;
  height:30px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:90px;
  width:111px;
  height:30px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:90px;
  width:107px;
  height:30px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:317px;
  width:759px;
  height:24px;
  text-align:center;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:759px;
  word-wrap:break-word;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:366px;
  width:82px;
  height:28px;
  color:#0000FF;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:366px;
  width:82px;
  height:28px;
  color:#0000FF;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:204px;
  width:26px;
  height:16px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:239px;
  width:26px;
  height:16px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:265px;
  width:26px;
  height:16px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:178px;
  width:26px;
  height:16px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:71px;
  width:82px;
  height:28px;
  color:#0000FF;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
