<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuntu.sale.capital.dao.RechargeDao">

	<sql id="queryColumns">
		id,
		enterprise_id,
		terminal,
		channel,
		recharge_money, 
		rate, 
		rate_money, 
		actual_money, 
		create_id, 
		create_time
	</sql>
	
	<sql id="querySumColumns">
	   IFNULL(SUM(recharge_money), 0) AS rechargeMoney,
	   IFNULL(SUM(actual_money), 0) AS actualMoney
	</sql>
	

	<!-- 通过Id查询 -->
	<select id="queryById" resultType="com.yuntu.sale.capital.po.RechargePo">
		SELECT
		<include refid="queryColumns" />
		FROM t_recharge
		WHERE id = #{id}
	</select>

	<!-- 检索 -->
	<select id="queryRechargeTime" resultType="com.yuntu.sale.capital.po.RechargePo">
		SELECT
		te.id,te.enterprise_id,te.terminal,
		te.channel,te.recharge_money,te.rate,
		te.rate_money,te.rate_money,te.actual_money,
		te.create_id,te.create_time,
		ie.name
		FROM t_recharge te LEFT JOIN info_enterprise ie on te.enterprise_id = ie.id
		<where>
			1 = 1
			<if test="enterpriseId != null and enterpriseId != ''">
				AND te.enterprise_id = #{enterpriseId}
			</if>
			<if test="start != null and start != '' and end != null and end != '' ">
				AND te.create_time BETWEEN #{start} AND #{end}
			</if>
		</where>
		ORDER BY te.create_time DESC
	</select>

	<!-- 保存 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.yuntu.sale.capital.po.RechargePo">
		INSERT INTO t_recharge(
		id,
		enterprise_id,
		terminal,
		channel,
		recharge_money,
		rate,
		rate_money,
		actual_money,
		create_id,
		create_time
		) VALUES (
		#{id},
		#{enterpriseId},
		#{terminal},
		#{channel},
		#{rechargeMoney},
		#{rate},
		#{rateMoney},
		#{actualMoney},
		#{createId},
		#{createTime}
		)
	</insert>

	<!-- 修改 -->
	<update id="save" parameterType="com.yuntu.sale.capital.po.RechargePo">
		UPDATE
		t_recharge
		SET
		enterprise_id = #{enterpriseId},
		terminal = #{terminal},
		channel = #{channel},
		recharge_money =  #{rechargeMoney},
		rate = #{rate},
		rate_money = #{rateMoney},
		actual_money = #{actualMoney},
		create_id = #{createId},
		create_time = #{createTime}
		WHERE
		id = #{id}
	</update>


    <!-- 查询某企业的累计充值金额 -->
    <select id="queryByDate" resultType="com.yuntu.sale.capital.po.RechargePo">
        SELECT
            <include refid="querySumColumns" />
        FROM t_recharge
        WHERE enterprise_id = #{enterpriseId} 
        AND create_time >= #{startDate} 
        AND create_time &lt; #{endDate}  
    </select>

</mapper>