*{ margin:0; padding:0;}
body{font: 12px/1.5 \5FAE\8F6F\96C5\9ED1,tahoma,arial,\5b8b\4f53;color:#233244; background: url("../images/login2/banner.jpg") no-repeat center -40px; background-size: 100% auto;}
ul,li{ list-style:none;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
.fl{float:left;}
.fr{float:right;}
a{text-decoration: none;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #b2b2b2;}
　　input:-moz-placeholder, textarea:-moz-placeholder {color:#b2b2b2;}
　　input::-moz-placeholder, textarea::-moz-placeholder {color:#b2b2b2;}
　　input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#b2b2b2;}
.clearfix{ clear: both;overflow: hidden;zoom:1;}
input:focus{outline: none;}
.content{ width:1200px; margin:0 auto;}
.top{height:60px;font-size: 16px; padding:15px 160px; background: #fff;}
.top .logo {height:60px;}
.top .logo img{margin-right:20px; height: 60px;}
.top .logo span{ line-height: 34px; padding-top:32px; height:34px;}
.top .serve{line-height: 60px; text-align: right;}
.top .serve li{display: inline-block;padding:0 10px; }
.top .serve li:last-child{background: url("../images/login2/tel.png") no-repeat right center; padding-right: 36px; background-size: 24px auto}
.login{  padding-top: 130px; }

.login .logbox{width:376px;height:360px; margin-left:723px;   background: rgba(255,255,255,.8); border-radius: 12px;  }
.login1 .logbox{width:300px;height:360px; margin-left:900px;    background: rgba(0,0,0,.5); border-radius: 12px; }
.login .logbox .log-cont{ padding:30px 52px; position: relative;}
.login1 .logbox .log-cont{ padding:26px 30px;}
.log-content input{ background: #fff; border-radius: 4px;}
.login .logbox .log-cont .log-title{color:#878787;font-size: 20px; line-height: 24px; margin-bottom: 28px; margin-top:12px; text-align: center; }
.login1 .logbox .log-cont .log-title{color:#fff;font-size: 20px; line-height: 24px; margin-bottom: 26px; text-align: center;}
.login1 .logbox .log-cont .pr{margin-bottom: 36px;  height:26px; position: relative; }
.login1 .logbox .log-cont .pr .tip.error{top: 26px;   position: absolute; color: #fb7171; }
.login1 .logbox .log-cont .pr .tip{top: 26px;left:80px;line-height: 24px;   position: absolute; color: #45b6af; }
.login1 .logbox .log-cont .pr .yzm{border-radius: 3px;width:80px;}
.login1 .logbox .log-cont .pr .yzm img{max-width: 100%;}
.login1 .logbox .log-cont .pr span{float:left; margin-right:20px; width:60px;line-height: 26px; color:#fff;font-size: 18px;}
.login .logbox .log-cont .log-in{width:230px; height:32px; padding-left:40px;margin-bottom: 24px; background: #fff;  border:none;}
.login1 .logbox .log-cont .log-in{width:138px; height:24px; padding:0 10px;border:1px solid #ccc; color:#626262; line-height: 24px; float:left; border-radius: 3px;}
.login .logbox .log-cont .log-in.user{background:#fff url("../images/login2/icon_user.png") no-repeat 14px 8px; background-size: 16px auto}
.login .logbox .log-cont .log-in.pass{background:#fff url("../images/login2/icon_pass.png") no-repeat 14px 8px; background-size: 16px auto}
.login .logbox .log-cont .log-yz{width:120px; height:32px; padding-left:20px;margin-bottom: 24px; border:none; margin-right:12px;}
.login1 .logbox .log-cont .log-yz{width:50px; height:24px; line-height: 24px; padding:0 10px;margin-bottom: 36px; margin-right:4px;border-radius: 3px;}
.log-btn{ height:36px;line-height: 36px;color:#fff;font-size: 16px;text-align: center; background: #0a4d92; margin-top: 10px; border-radius: 8px;}
.log-btn a{color:#fff;display: block;}
.log-btn1{ height:30px;line-height: 30px;width:100px;border-radius:3px;color:#fff;font-size: 16px;text-align: center; background: rgba(35,158,221,.8); margin:0 auto 26px;}
.log-btn1 a{color:#fff;display: block;}
.login1 .rem{color:#fff; margin-bottom: 26px;}
.ace {  width: 22px;  height: 22px;  cursor: pointer;float:left; margin:0px;padding:0;  }
.lbl{float:left;line-height: 20px; margin-left:6px; font-size: 16px; }
.log-content{ height:170px;}
.index_cont{text-align: center; padding:60px 0 80px;}
.index-tit{ font-size: 22px;}
.index-intro{color:#626262;  line-height:24px; margin:20px 0 40px; font-size: 16px;}

.cp li{float:left; width:33.3333%;font-size: 18px; line-height: 24px;}
.cp li img{margin-bottom: 20px;width:126px; height:126px;}
.bottom{ height: 72px; text-align: center;font-size: 14px;color:#878787; line-height: 72px; background: #fff; position: fixed; bottom: 0; text-align: center; width:100%;}

.login .logbox .log-cont .tip{bottom: 70px;line-height: 24px;   position: absolute; color: #45b6af;  width:270px; text-align: center;}
.login .logbox .log-cont .tip.error{color: #fb7171;  }
.dtm{width:90px; height:32px; line-height: 32px; text-align: center; padding:0 10px;margin-bottom: 36px; border:none; margin-right:4px;border-radius: 3px; background: #239edd; color:#fff; cursor: pointer;}
.dtm1{  background: #ccc; color:#fff; cursor:none;}