<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuntu.sale.user.dao.InfoUserDao">

	<sql id="queryColumns">
		id,
		account_type,
		is_master,
		username,
		password,
		name,
		phone,
		status,
		is_delete,
		role_id ,
		enterprise_id ,
		create_id ,
		create_time ,
		update_id ,
		update_time
	</sql>
	
	<!-- 查询平台用户 -->
    <select id="queryUser" resultType="com.yuntu.sale.user.po.InfoUser">
        SELECT 
            <include refid="queryColumns"></include>
        FROM info_user  
        <where>
            is_delete = 0 AND is_master = 0
            <if test="name != null and name != ''">
                AND name like CONCAT('%', #{name}, '%') 
            </if>
        </where>
        ORDER BY status DESC, create_time DESC 
    </select>
	
	<!-- 查询我的用户 -->
	<select id="queryMyUser" resultType="com.yuntu.sale.user.po.InfoUser">
        SELECT 
            <include refid="queryColumns"></include>
        FROM info_user  
        <where>
            enterprise_id = #{enterpriseId} 
            AND is_delete = 0 AND is_master = 0
            <if test="name != null and name != ''">
                AND name like CONCAT('%', #{name}, '%') 
            </if>
        </where>
        ORDER BY status DESC, create_time DESC 
    </select>
	
	<!-- 通过用户名和密码查询 -->
    <select id="queryByUsernameAndPassword" resultType="com.yuntu.sale.user.po.InfoUser">
        SELECT 
            <include refid="queryColumns"></include>
        FROM info_user  
        WHERE
            username = #{username} 
            AND password = #{password} 
            AND is_delete = 0
    </select>
	
	<!-- 通过Id查询 -->
    <select id="queryById" resultType="com.yuntu.sale.user.po.InfoUser">
        SELECT 
            <include refid="queryColumns" />
        FROM info_user 
        WHERE id = #{id}
    </select>
    
    <!-- 得到企业主账号 -->
    <select id="getEnterpriseMasterUser" resultType="com.yuntu.sale.user.po.InfoUser">
        SELECT 
            <include refid="queryColumns" />
        FROM info_user 
        WHERE enterprise_id = #{enterpriseId} 
        AND is_master = 1
    </select>
	
	<!-- 通过用户名（唯一）查询   （使用：用于判断用户名是否重名） -->
    <select id="queryByUsername" resultType="com.yuntu.sale.user.po.InfoUser">
        SELECT 
            <include refid="queryColumns" />
        FROM info_user 
        WHERE username = #{username} 
    </select>

    <!-- 保存 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.yuntu.sale.user.po.InfoUser">
        INSERT INTO info_user(
            id,
	        account_type,
	        is_master,
	        username,
	        password,
	        name,
	        phone,
	        status,
	        is_delete,
	        role_id ,
	        enterprise_id ,
	        create_id ,
	        create_time ,
	        update_id ,
	        update_time
        ) VALUES (
            #{id},
            #{accountType},
            #{isMaster},
            #{username},
            #{password},
            #{name},
            #{phone},
            #{status},
            #{isDelete},
            #{roleId},
            #{enterpriseId},
            #{createId},
            #{createTime},
            #{updateId},
            #{updateTime}
        )
    </insert>
    
    <!-- 修改 -->
    <update id="update" parameterType="com.yuntu.sale.user.po.InfoUser">
        UPDATE 
            info_user
        SET
            name = #{name},
            phone = #{phone},
            update_id = #{updateId},
            update_time = #{updateTime}
        WHERE 
            id = #{id}
    </update>
    
    <!-- 修改所有信息（包括用户名、密码） -->
    <update id="updateUsernameAndPassword" parameterType="com.yuntu.sale.user.po.InfoUser">
        UPDATE 
            info_user 
        SET
            username = #{username}, 
            password = #{password},
            update_id = #{updateId},
            update_time = #{updateTime}
        WHERE 
            id = #{id}
    </update>

    <!-- 启用/停用 -->
    <update id="updateStatus">
        UPDATE
            info_user
        SET
            status = #{status} 
        WHERE
            id = #{id}
    </update>

    <!-- 删除机构 -->
    <update id="delete">
        UPDATE
            info_user
        SET
            is_delete = 1
        WHERE
            id = #{id}
    </update>
    
    <!-- 修改密码 -->
    <update id="updatePassword" parameterType="com.yuntu.sale.user.po.InfoUser">
        UPDATE 
            info_user
        SET 
            password = #{password}
        WHERE 
            id = #{id}
    </update>
    
</mapper>